
.RedButton{
  background-color: #f44336 !important;
  color: #ffffff !important;
  box-shadow: 2px 3px #404040 !important;
}

.GreenButton{
  background-color: #4CAF50 !important;
  color: #ffffff !important;
  box-shadow: 2px 3px #404040 !important;
}

.YellowButton{
  background-color: #ffd700 !important;
  color: #000000 !important;
  box-shadow: 2px 3px #404040 !important;
}

.LightGreyButton{
  background-color: #B9B9B9 !important;
  color: #000000 !important;
  box-shadow: 2px 3px #404040 !important;
}

#qrwrapper {
  text-align: center;
}

#qrbox{
  background-color: #ffffff !important;
  box-shadow: 2px 3px #404040 !important;
  padding: 15px !important;
  border: 5px solid #000000 !important;
  display: inline-block;

}

#qricon{
    padding-bottom: 5% !important;
    vertical-align: middle !important;
  }

#planeicon{
    padding-bottom: 5% !important;
    vertical-align: middle !important;
    padding-right: 5% !important;
}

a:link {
    color: #e69500 !important;
}

/* visited link */
a:visited {
    color: red !important;
}
